[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
matplotlib = "*"
scipy = "*"

[dev-packages]
jupyter = "*"
notebook = "*"

[requires]
python_version = "3.10"
